extends ../base.pug
include ../mixins/record

block contents
    div.clockWrap
        div.calendarBox
            b.calendar
        div.clockBox
            h1.clock
    div(class='write-input-box')
        if errorMessage
            span.errMessage=errorMessage
        form(method="POST")
            div
                input(name="date", type="date", value=`${years}-${months}-${dates}`, readonly)
                input(placeholder="현장명", name="siteName", type="text", maxlength="15")
                input(placeholder="키로수", name="distance", type="text", maxlength="3")
                input(placeholder="주유량", name="oiling", type="text", maxlength="3") 
                div.labelbox     
                    label
                        input(name="water", type="checkbox")
                        | 폐수수거
                    label
                        input(name="overTime", type="checkbox")
                        | 시간초과
            div
                div
                    input(placeholder="기타 메모", name="memo", type="text")
                div.labelbox2       
                    label
                        input(name="nightSupport", type="checkbox")
                        | 시간외 출하
            div.submitbox
                input(type="submit", value="저장")
    div(class="showDayRecords")
        table 
            thead 
                tr 
                    th 현장명
                    th 주행거리(km)
                    th 폐수수거
                    th 시간초과
                    th 시간외
                    th 주유량(L)
                    th 삭제
            tbody
                each record in records 
                    +record(record)
                else
                    tr 
                        td(colspan="7") 운행 기록이 없습니다.

block scripts
    script(src="/static/js/clock.js")
    script(src="/static/js/write.js")