extends ../base.pug

block contents
    div.clockWrap
        div.calendarBox
            b.calendar
        div.clockBox
            h1.clock
    div(class='write-input-box')
        if errorMessage
            span.errMessage=errorMessage
        form(method="POST")
            div
                input(placeholder="현장명", class="siteName", type="text", maxlength="15")
                input(placeholder="키로수", class="distance", type="text", maxlength="3")
                input(placeholder="주유량", class="oiling", type="text", maxlength="3") 
                div.labelbox     
                    label
                        input(class="water", type="checkbox")
                        | 폐수수거
                    label
                        input(class="overTime", type="checkbox")
                        | 시간초과
                    label
                        input(class="nightSupport", type="checkbox")
                        | 시간외 출하
            div
                div
                    input(placeholder="기타 메모", class="memo", type="text")                     
            div.submitbox
                button(class="addBtn") 등록
    div(class="showDayRecords")
        table 
            thead 
                tr 
                    th 현장명
                    th 주행거리(km)
                    th 폐수수거
                    th 시간초과
                    th 시간외
                    th 주유량(L)
                    th 삭제
            tbody

block scripts
    script(src="/clients/front/js/clock.js")
    script(src="/clients/front/js/writeRecord.js")
